.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 1100;
}

.navButton {
    background: none;
    border: none;
    cursor: pointer;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.navButton img {
    height: 24px;
    /* 아이콘 크기 조정 */
}

.navButton span {
    margin-top: 4px;
    /* 아이콘과 텍스트 사이 간격 조정 */
    font-size: 18px;
}

.navButton:hover {
    background-color: orange;
}

/* 가로 길이가 768px 이상일 때 네비게이션 바가 왼쪽으로 이동함 */
@media (min-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        /* 좌우 정렬 맞춤용 */
        height: auto;
        width: 200px;
        position: fixed;
        left: 0;
        top: 60px;
        border-top: none;
        border-right: 1px solid #ddd;
        padding-top: 20px;
        background-color: #fff;
        z-index: 1100;
    }

    .navButton {
        flex-direction: row;
        /* 아이콘과 글자 나란히 배치 */
        padding: 10px 20px;
        height: 70px;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #ddd;
        /* 부모인 .navbar 높이와 관계없이 유지됨 */
        flex: none;
    }

    .navButton img {
        margin-right: 30px;
        margin-top: 0;
		/* 아이콘과 텍스트 사이 간격 초기화 */              
    }

    .navButton span {
        margin-top: 0;
        /* 아이콘과 텍스트 사이 간격 초기화 */
    }

/*     .content {
        padding-top: 120px;
        max-width: 100%;
    } */
    
/*     .main-container {
        margin-left: 200px;
        navbar 너비를 고려하여 설정
        width: calc(100% - 200px);
    } */
/*     .post-container {
        max-width: 700px;
        width: 100%;
    } */
}