<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>칭구칭구</title>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
	<script src="https://cdn.jsdelivr.net/npm/piexifjs"></script>
	<script src="https://cdn.jsdelivr.net/npm/heic2any"></script>
	<script>
		$(function () {
			// 헤더 그룹명으로
			$(".center h2").text("그룹명");

			// 기본 날짜 설정: 현재날짜
			const today = new Date();
			$('#postUserDefDate').val(today.toISOString().slice(0, 10));

			// 날짜 입력 필드 값 변경 시 #date 업데이트
			$('#postUserDefDate').on('change', function () {
				const selectedDate = new Date(this.value);
				if (!isNaN(selectedDate.getTime())) {
					const formattedSelectedDate = formatDate(selectedDate);
					$('#date').text(formattedSelectedDate);
				}
			});
			
			// 폼 제출 시 유효성 검사
		    $('form').on('submit', function (event) {
		        const textareaValue = $('textarea[name="postContent"]').val().trim();
		        const files = $('#photoUpload')[0].files;
		
		        if (textareaValue === '' && files.length === 0) {
		            alert('글 내용 또는 사진을 추가해야 합니다!');
		            event.preventDefault(); // 폼 제출을 막습니다.
		        }
		    });

			// 사진 입력 처리(압축), 미리보기
			$('#photoUpload').on('change', function () {
				const files = this.files;

				// 파일 개수 제한
				if (files.length > 10) {
					alert('사진은 최대 10개까지 추가할 수 있습니다!');
					// 입력 필드를 초기화하여 파일 개수 제한 초과 방지
					this.value = '';
					return;
				}

				// 나머지 파일 처리 코드
				const previewContainer = $('#imagePreview');
				previewContainer.empty();

				const dataTransfer = new DataTransfer();

				Array.from(files).forEach(file => {
					if (file.type.startsWith('image/')) {
						if (file.type === 'image/png') { // PNG 파일은 미리보기만 처리
							const reader = new FileReader();
							reader.onload = function (e) {
								const imgElement = $('<img>').attr('src', e.target.result).css({width: '150px', height: '150px', margin: '10px'});
								previewContainer.append(imgElement);
							};
							reader.readAsDataURL(file);
						} else if (file.type === 'image/heic') { // HEIC 파일 처리 -> JPEG로 
							heic2any({blob: file, toType: 'image/jpeg'})
								.then(function (jpegBlob) {
									processImage(jpegBlob, file, null, previewContainer, dataTransfer); // EXIF 데이터가 없는 경우 null 전달
								})
								.catch(function (error) {
									console.error('HEIC 변환 오류:', error);
								});
						} else {  // 기타 이미지 (예: JPEG) 처리
							const reader = new FileReader();
							reader.onload = function (e) {
								const img = new Image();
								img.src = e.target.result;
								img.onload = function () {
									const canvas = document.createElement('canvas');
									const ctx = canvas.getContext('2d');

									// 이미지 크기 조정
									const MAX_WIDTH = 800;
									const MAX_HEIGHT = 600;
									let width = img.width;
									let height = img.height;

									if (width > height) {
										if (width > MAX_WIDTH) {
											height *= MAX_WIDTH / width;
											width = MAX_WIDTH;
										}
									} else {
										if (height > MAX_HEIGHT) {
											width *= MAX_HEIGHT / height;
											height = MAX_HEIGHT;
										}
									}

									canvas.width = width;
									canvas.height = height;
									ctx.drawImage(img, 0, 0, width, height);

									// EXIF 데이터 추출 (JPEG 파일 등)
									const originalExif = piexif.load(e.target.result);
									canvas.toBlob(function (blob) {
										processImage(blob, file, originalExif, previewContainer, dataTransfer);
									}, 'image/jpeg', 0.85); // 압축 품질 0.85
								};
							};
							reader.readAsDataURL(file);
						}
					}
				});
			});
		});

		// 오늘 날짜를 포맷팅하는 함수
		function formatDate(date) {
			const year = date.getFullYear();
			const month = (date.getMonth() + 1).toString().padStart(2, '0');
			const day = date.getDate().toString().padStart(2, '0');
			return `${year}년 ${month}월 ${day}일`;
		}

		function processImage(blob, originalFile, originalExif, previewContainer, dataTransfer) {
			const reader = new FileReader();
			reader.onloadend = function () {
				let compressedImageWithExif = blob;
				if (originalExif) {
					// EXIF 데이터 삽입
					compressedImageWithExif = piexif.insert(piexif.dump(originalExif), reader.result);
					compressedImageWithExif = dataURLtoBlob(compressedImageWithExif);
				}
				const uniqueFileName = generateUniqueFileName(originalFile.name);
				const compressedFile = new File([compressedImageWithExif], uniqueFileName, {type: 'image/jpeg', lastModified: Date.now()});

				// 압축된 이미지 미리보기 추가
				const imgElement = $('<img>').attr('src', URL.createObjectURL(compressedFile)).css({width: '150px', height: '150px', margin: '10px'});
				previewContainer.append(imgElement);

				// 압축된 파일을 DataTransfer에 추가
				dataTransfer.items.add(compressedFile);

				// 압축된 파일로 input 파일을 대체
				$('#photoUpload')[0].files = dataTransfer.files;
			};
			reader.readAsDataURL(blob);
		}

		// 유일 파일명 만들기
		function generateUniqueFileName(originalName) {
			// 1. 현재 시간을 밀리초로 가져옴
			const timestamp = Date.now();

			// 2. 원본 파일명 추출
			const originalNameWithoutExtension = originalName.split('.').slice(0, -1).join('.');

			// 3. 파일 확장자 추출
			const extension = originalName.split('.').pop();

			// 1+2+3 고유한 파일명을 생성해 반환
			return `${timestamp}_${originalNameWithoutExtension}.${extension}`;
		}

		// DataUrl을 Blob으로 변환 (Blob: Binary Large Object)
		function dataURLtoBlob(dataurl) {
			const arr = dataurl.split(',');
			const mime = arr[0].match(/:(.*?);/)[1];
			const bstr = atob(arr[1]);
			let n = bstr.length;
			const u8arr = new Uint8Array(n);
			while (n--) {
				u8arr[n] = bstr.charCodeAt(n);
			}
			return new Blob([u8arr], {type: mime});
		}
	</script>
	<style>
		.form-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100vh;
			margin-top: 100px;
			padding-left: 5%;
			padding-right: 5%;
		}

		.form-container label {
			display: block;
			margin-bottom: 8px;
		}

		.form-container button,
		input[type="submit"] {
			background-color: #FFA500;
			color: white;
			padding: 10px 20px;
			border: none;
			font-size: 16px;
			cursor: pointer;
		}

		button:hover,
		input[type="submit"]:hover {
			background-color: #FF8C00;
		}

		form {
			width: 100%;
		}

		form .txtarea {
			width: 100%;
			height: 250px;
			font-size: 16px;
			font-family: Arial, sans-serif;
			border: 1px solid lightgrey;
			margin-bottom: 20px;
		}

		#imagePreview {
			display: flex;
			flex-wrap: wrap;
		}

		@media (min-width: 768px) {
			.form-container {
				margin-left: 200px;
			}
		}

		#postUserDefDate {
			width: 300px;
			padding: 10px;
			border: none;
			font-size: 20px;
			color: #FF8C00;
		}
	</style>
</head>

<body>
	<div id="header" th:replace="/header/header :: header"></div>
	<div id="navbar" th:replace="/navbar/navbar :: nav"></div>
	<div class="form-container">
		<form action="/feed/postWrite" method="post" enctype="multipart/form-data">
			<!-- 로그인 활성화 시 userNo는 이걸로 변경 !!
                <input type="hidden" name="userNo" th:value="${session.loginUser.userNo}">
            -->
			<input type="hidden" name="userNo" value="3598270263">
			<input type="date" id="postUserDefDate" name="postUserDefDate">
			<textarea name="postContent" class="txtarea" placeholder="글 내용 입력..."></textarea>
			<label for="groupImg">사진 추가하기</label>
			<input type="file" id="photoUpload" name="photoUpload" multiple><br>
			<div id="imagePreview"></div>
			<br>
			<input type="submit" value="피드 추가 !">
		</form>
	</div>
</body>

</html>