<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
<!-- 공통 네비게이션바 메뉴  -->
<nav class="navbar">
    <a class="navButton" href="/groupHome/firstpage">
        <img src="/images/home.png" alt="홈">
        <span>홈</span>
    </a> 
    <a class="navButton" th:href="@{'/feed/feed/' + ${session.selectedGroup.groupNo}}">
        <img src="/images/category.png" alt="피드">
        <span>피드</span> 
    </a>
    <a class="navButton" href="/chat/chat.html">
        <img src="/images/chat_white.png" alt="채팅">
        <span>채팅</span>
    </a>
    <a class="navButton" href="/calendar/calendar.html">
        <img src="/images/calendar_white.png" alt="스케줄">
        <span>스케줄</span>
    </a>
    <a class="navButton" href="/notification/notification.html">
        <img src="/images/notification_white.png" alt="알림">
        <span>알림</span>
    </a>
</nav>
</body>
</html>