<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header class="header">
        <!-- 뒤로 가기 -->
        <div class="leftButton">
             <a href="javascript:history.back()"><img src="/images/back.png" alt="뒤로 가기"></a>
        </div>       
       	<!--그룹명--> 
        <div class="center">
            <h2 th:if="${session.selectedGroup != null}" th:text="${session.selectedGroup.groupName}"></h2>
			<h2 th:unless="${session.selectedGroup != null}" th:text="Buddies"></h2>

        </div>
        <!--마이페이지--> 
        <div class="myPage">
			<a href="#"><img th:src="${session.loginUser.profilePhoto}" alt="마이페이지"></a>
        </div> 
    </header>
</body>
</html>