<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header class="header">
        <!-- 뒤로 가기 -->
        <div class="leftButton">
             <a href="javascript:history.back()"><img src="/images/back.png" alt="뒤로 가기"></a>
        </div>       
       	<!--그룹명--> 
        <div class="center">
            <a th:href="@{'/groupInfo/groupInfo/'+ ${session.selectedGroup.groupNo}}" th:if="${session.selectedGroup != null}">
                <h2 th:text="${session.selectedGroup.groupName}"></h2>
            </a>
            <a href="/firstpage/firstpage" th:unless="${session.selectedGroup != null}">
                <h2>Buddies</h2>
            </a>
        </div>
        <!--마이페이지--> 
        <div class="myPage">
			<a href="/myInfo/myInfo">
				<div th:with="photoUrl=${session.loginUser.profilePhoto}">
					<img id="my-profile-photo" th:if="${photoUrl != null}"
						th:src="${photoUrl.startsWith('http://') ? photoUrl : '/images/' + photoUrl}">
					<img id="default-profile-photo" th:unless="${photoUrl != null}" th:src="@{'/images/orange.png'}" alt="기본 이미지">
				</div>
			</a>
        </div> 
    </header>
</body>
</html>